<mat-toolbar color="primary" class="toolbar">
  <span class="title">Productos disponibles</span>
  <span class="spacer"></span>
  <button
    mat-fab
    color="accent"
    aria-label="Agregar producto"
    [routerLink]="['/products/add']"
  >
    <mat-icon>add</mat-icon>
  </button>
</mat-toolbar>

<div class="search-container">
  <mat-form-field appearance="outline" class="search-field">
    <mat-label>Buscar producto</mat-label>
    <input 
          matInput 
          type="text" 
          [(ngModel)]="searchTerm" 
          (ngModelChange)="applyFilter()" />
    <button *ngIf="searchTerm" matSuffix mat-icon-button aria-label="Limpiar" (click)="clearSearch()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>

<div class="content">
  <mat-spinner *ngIf="loading" diameter="48"></mat-spinner>

  <div *ngIf="!loading && errorMessage" class="error">
    {{ errorMessage }}
  </div>

  <div class="product-grid" *ngIf="!loading && !errorMessage">
    <mat-card *ngFor="let product of paginatedProducts" class="product-card">
      <mat-card-header>
        <mat-card-title>{{ product.title }}</mat-card-title>
        <mat-card-subtitle>{{ product.category.name }} - ${{ product.price }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <img
          [src]="product.images.length ? product.images[0] : '/images/paisajeamarillo.png'"
          (error)="onImageError($event)"
          alt="{{ product.title }}"
          class="product-image"
        />
        <p>{{ product.description }}</p>
      </mat-card-content>
      <mat-card-actions align="end">
        <button
          mat-icon-button
          color="primary"
          [routerLink]="['/products/edit', product.id]"
          matTooltip="Editar"
        >
          <mat-icon>edit</mat-icon>
        </button>


        <button mat-icon-button color="warn" (click)="confirmDelete(product)" matTooltip="Eliminar">
          <mat-icon>delete</mat-icon>
        </button>
        

      </mat-card-actions>
    </mat-card>
  </div>

  <mat-paginator
    *ngIf="filteredProducts.length > pageSize"
    [length]="filteredProducts.length"
    [pageSize]="pageSize"
    [pageIndex]="pageIndex"
    [pageSizeOptions]="[5, 10, 15]"
    (page)="onPageChange($event)">
  </mat-paginator>
</div>